* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --pink: #da7b93;;
    --blue: #0693AE;
    --orange: #d9b08c;
}
html {
    scroll-behavior: smooth;}
body { 
    font-family: 'Lato', sans-serif; }
/*COLORS*/
nav a, .burger, #art4 div.about h1, footer h5  {     
    color: white; }
.contact i  {
    color: #2c3531; }
nav a:hover, .skills, #art2 > div.art2Content p.font, #art4 div.hobbyContent h1, #art5 h1 { 
    color: var(--blue); }
#art2 > div.art2Content h2, .contact i:hover, #art4 div.hobbyContent p.hobbyColor {
    color: var(--orange); }
/* BACKGROUND */
nav, .burger, #art4 div.about  {
    background-color: var(--orange);}
header, #art1, #art2 div.welcomePhoto, #art3 div.art3Photo  {
        background-repeat: no-repeat; }
header,#art1, #art3 div.art3Photo,#art4 div.hobbiesPhoto div.hobby, #art5 div.art5Photo {
        background-size: cover; }
#art2 div.welcomePhoto {
    background-size: contain; }
/*POSITIONS*/
nav, .burger, #art1 div.whyPortfolio {
    position: absolute; }
#art1, #art2, #art3, #art4, #art5 {
    position: relative; }
/*FLEX*/
nav ul,#art2, #art4 div.hobbiesPhoto, footer > .contact, #art5 > div.container5, div.container6 {
    display: flex;}
/*TEXT ALIGN*/
.burger, header, .skills, #art1 div.whyPortfolio h2.fontStyle, h3.fontStyle, h5.fontStyle, #art2 > div.art2Content .font, #art2 > div.art2Content p, #art2 div.contact,#art3 div.abtContent, #art4 div.about h1,#art5 h1, #art5 div.art5Content p, h3, h5, #art4 div.hobbyContent h1   {
    text-align: center; }
/* FONTS  */
.skills, #art2 > div.art2Content .font, #art4 div.hobbyContent p.hobbyColor, #art5 h1 {
    font-family: 'Fredericka the Great', cursive;}
/* HEIGHT  */
header, #art1 {
    height: 100vh; }
/* .................... nav .................... */
nav {
    width: 98vw;
    height: 50px;
    line-height: 50px;
    top:35%;
}
nav ul {
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
nav>ul>li { 
    list-style: none; }
nav a:hover, a { 
    text-decoration: none; }
a {
    font-size: 13px;}
.burger {
    z-index: 1;
    width: 10%;
    line-height: 50px;
    padding-right: 5px;
    font-size: 15px;
    top:35%;
}
.hidden { 
    display: none; 
}
/* .................... header .................... */
header {
    position: static;
    background-image: url(../img/bgi/clean-deskjpg.jpg);
    overflow: hidden;
    background-position: 30%, 0;
}
header h2 { 
    font-size: 25px; 
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
header h1, h2 {
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 40px;
    padding-top: 50vh;
}
/* .................... SECTION.................... */
section {
    overflow-x: hidden; }
/*.................... article 1 ....................*/
p {
    font-size: 18px;
    padding-left: 7%;
    padding-right: 7%;
}
h3 {
    font-size: 40px;}
h4 {
    font-size: 30px;}
h3, h5 {
    letter-spacing: 2px;
    padding-top: 30px;
    font-weight: 300;
}
#art1 {
    background-image: url(../img/bgi/notatnik.jpg);
}
#art1 div.whyPortfolio {
    background-color: white;
    box-shadow: 6px 12px #f5f5f5;
    width: 76vw;
    margin-top: calc(100% - 60%);
    margin-left: calc(100% - 89%);
    padding: 1% 3% 1% 3%; 
}
#art1 div.whyPortfolio h1 {
    border-bottom: 2px solid var(--orange);
    padding-top: 8%;
    font-size: 30px;
}
#art1 div.whyPortfolio h2.fontStyle {
    padding-top: 5%; }
#art1 div.whyPortfolio h2.fontStyle, h3.fontStyle, h5.fontStyle {
    letter-spacing: normal;
    font-size: 20px; 
}
#art1, #art2 p {
    line-height: 1; }
/*  ................... article 2 ....................*/
#art2 {
    flex-wrap: wrap;
    background-color: #fffafa;
}
#art2 > div.art2Content h2 {
    padding-top: 5%;
    border-bottom: 2px solid var(--orange);
    font-size: 45px;
}
#art2 > div.art2Content {
    margin: 10% 0 5% 0;
}
#art2 > div.art2Content, #art2 div.welcomePhoto {
    flex-basis: 100%;
}
#art2 div.welcomePhoto {
    background-image: url(../img/bgi/pexels-kaboompics-com-6440.jpg); 
    margin: auto;
    height: 40vh;
}
.contact i {
    transition: 0.4s linear; }
#art2 p {
    font-size: 18px;
    padding-left: 5%;        
    padding-right: 5%;
}
#art2 .contact i {
    font-size: 1.5rem; }
.contact i:hover {
    transform: rotate(360deg); }
/*  ................... article 3  .................... */
#art3 div.art3Photo { 
    background-image: url(../img/bgi/pexels-cottonbro-4065876.jpg);
    background-position: 20%;
    height: 50vh;
}
#art3 div.abtContent p {
    font-style: italic;
    line-height: 1.5;
}
#art3 p {
    font-size: 16px; }
#art3 h3.skills {
    font-size: 43px;
    padding-top: 70%;
    padding-left: 7%;
    padding-right: 7%;
}
/* .................... artilce 4 .................... */
#art4 p {
    font-size: 13px;
    padding-top: 1%;
}
#art4 div.hobbiesPhoto {
    flex-wrap: wrap;
    margin-top: 5%;
    height: 85vh;
}
#art4 div.hobbiesPhoto div.hobby {
    margin-left: auto;
    margin-right: auto;
    flex-basis: 38%;
}
#art4 div.hobbiesPhoto div.hobby.h1 {
    background-image: url(../img/hobbies/pich1.JPG);
}
#art4 div.hobbiesPhoto div.hobby.h2 {
    background-image: url(../img/hobbies/pich2.JPG);
}
#art4 div.hobbiesPhoto div.hobby.h3 {
    background-image: url(../img/hobbies/pich3.JPG);
}
#art4 div.hobbiesPhoto div.hobby.h4 {
    background-image: url(../img/hobbies/pich4.jpg);
}
#art4 div.hobbiesPhoto div.hobby.h5 {
    background-image: url(../img/hobbies/pich5.jpg);
}
#art4 div.hobbiesPhoto div.hobby.h6 {
    background-image: url(../img/hobbies/pich6.jpg);
}
#art4 div.about {
    padding: 3px;
}
#art4 div.about h1 {
    font-size: 30px; 
}
#art4 div.hobbyContent h1 {
    font-size: 30px;
}
#art4 div.hobbyContent p {
    line-height: 2; }
#art4 p.hobbyColor {
    padding-top: 0; }
/*.................... article 5 ....................*/
#art5 > div.container5 {
    flex-wrap: nowrap;
}
#art5 h1 {
    flex-basis: 20%;
    font-size: 30px; 
}
div.art5Line {
    flex-basis: 50%;
    height: 1%;
    border-bottom: 2px solid var(--orange);
}
div.art5Content {
    flex-basis: 30%;
}
#art5 div.art5Photo {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/bgi/art5.jpg);
    height: 35vh;
}
div.art5Content p {
    font-size: 10px;
}
#art5 ol {
    margin-left: 12%;
    width: 80%;
}
#art5 li {
    padding-left: 2%;
}
/* ................... footer ...................*/
footer {
    background-color: black;
    padding: 1%;
}
.contact i {
    font-size: 1.5rem; }
footer > div.contact {
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-top: 5%;
}
footer h5 {
    text-align: right; 
    font-size: 6px;
}

/*Media Query for low resolution Tablets, Ipads, Mobiles portrait mode*/
@media (min-width: 481px) and (max-width:767px) {
    #art1 div.whyPortfolio {
        margin-top: calc(100% - 58%);
    }
    #art2 div.welcomePhoto {
        height: 40vh;
        margin-bottom: 10%;
        background-size: cover;
    }
    #art2 p {
        line-height: 2;
    }
    #art2 .contact i {
        font-size: 2rem;
    }
    #art3 div.art3Photo {
        height: 70vh;
    }
    #art3 div.abtContent p {
        margin-top: 5%;
    }
    #art4 div.about {
        margin-right: 20%;
        margin-left: 20%;
    }
    #art4 div.hobbiesPhoto div.hobby {
        flex-basis: 38%;
    }
    #art4 div.hobbiesPhoto {
        height: 90vh;
    }
    #art4 p {
        font-size: 16px;
    }
    div.art5Line {
        margin-top: 10%;
    }
    #art5 div.art5Photo {
        height: 20vh;
    }
    footer h5 {
        font-size: 9px;
    }
}

/*Media Query for low resolution Tablets, Ipads, Mobiles and landscape*/
@media (min-width: 481px) and (max-width:767px) and (orientation:landscape) {
    
    /* NIE DZIAÅA */

}

/*Media Query for Tablets, Ipads portrait mode*/
@media (min-width: 768px) and (max-width: 1024px) {
    a, .burger { 
        font-size: 16px; 
    }
    header {
        background-position: center;
    }
    header h1 {   
        font-size: 40px;
    }
    header p.skills {
        font-size: 22px;
    }
    #art1 div.whyPortfolio {
        width: 80vw;
        height: 55vh;
        margin-left: calc(100% - 90%);
        padding: 2% 8% 2% 8%;
    }
    #art1 div.whyPortfolio h1 {
        font-size: 30px ; 
    }
    #art1 h2.fontStyle,  #art1 h3.fontStyle,  #art1 h5.fontStyle {
        font-size: 24px; 
    }  
    #art2 div.welcomePhoto {
        height: 45vh;
        margin-bottom: 10%;
        background-size: cover;
    }
    #art2 > div.art2Content {
        margin: 10% 0 5% 0;
    }
    #art2 > div.art2Content, #art2 div.welcomePhoto {
        flex-basis: 100%;
    }
    #art2 > div.art2Content h2 {
        font-size: 55px;
        padding-top: 1%;
    }
    #art1 {
        line-height: 1.2;
    }
    #art2 p {
        line-height: 2;
        font-size: 21px;
    }
    #art3 p {
        font-size: 18px;
    }
    #art3 div.abtContent {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    #art3 div.abtContent p {
        line-height: 2.5; 
    }
    #art3 h3.skills {
        font-size: 55px;
        padding-top: 50%;
    }
    #art4 div.hobbiesPhoto {
        height: 60vh;
    }
    #art4 div.hobbiesPhoto div.hobby {
        flex-basis: 32%;
    }
    #art4 div.about {
        margin-right: 22%;
        margin-left: 22%;
    }
    #art4 div.about h1, #art5 h1 {
        font-size: 50px; 
    }
    #art4 p {
        font-size: 16px;
    }
    div.art5Line {
        margin-top: 6%;
    }
    div.art5Content p {
        font-size: 14px;
    }
    #art5 div.art5Photo {
        height: 25vh;
    }
    #art5 h3 {
        font-size: 35px;
    }
    #art5 ol {
        margin-left: 14%;
        line-height: 2;
        width: 70vw;
    }
    footer > div.contact {
        padding-top:1px; 
    }
    footer h5 {
        font-size: 10px; 
    }
    .contact i {
        font-size: 2rem; 
    }
}

/*Media Query for Tablets, Ipads landscape mode*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation:landscape){
    header h1 {   
        font-size: 55px;
    }
    header p.skills {
        font-size: 21px;
    }
    #art1 div.whyPortfolio h1 {
        font-size: 40px ; 
    }
    #art1 div.whyPortfolio {
        margin-top: calc(100% - 80%);
    }
    #art1 {
        line-height: 2;
    }
    #art2 .contact i {
        font-size: 2rem;
    }
    #art2 div.welcomePhoto {
        height: 45vh;
    }
    #art3 div.abtContent p {
        line-height: 3; 
    }
    #art3 h3.skills {
        font-size: 60px;
        padding-top: 28%;
    }
    #art4 div.hobbiesPhoto {
        height: 80vh;
    }
    div.art5Content p {
        font-size: 16px;
    }
    footer h5 {
        font-size: 12px; 
    }
    .contact i {
        font-size: 2.5rem; 
    }
}

/*Media Query for Laptops and Desktops*/
@media (min-width: 1025px) and (max-width:1280px) {
    a, .burger { 
        font-size: 18px; 
    }
    p {
        margin-right: 0;
        margin-left: 0;
    }
    header {
        background-position: top, left;
    }
    header h1 {   
        font-size: 70px;
    }
    #art1 div.whyPortfolio {
        width: 70vw;
        height: 50vh;
        margin-top: calc(100% - 80%);
        margin-left: calc(100% - 85%);
        padding: 2% 10% 2% 10%;
    }
    #art1 div.whyPortfolio h1 {
        font-size: 35px ; 
    }
    #art1 h2.fontStyle,  #art1 h3.fontStyle,  #art1 h5.fontStyle {
        font-size: 21px; 
    }  
    #art2 p {
        font-size: 25px;
    }
    #art2 > div.art2Content, #art2 div.welcomePhoto {
        flex-basis: 100%;
    }
    #art2 div.welcomePhoto {
        height: 50vh;
        margin: 0 5% 5% 5%;
        background-size: cover;
        background-position: top;
    }
    #art2 > div.art2Content h2 {
        font-size: 65px;
    }
    #art2 .contact i {
        font-size: 2.5rem;
    }
    #art1, #art2 p {
        line-height: 2;
    }
    #art3 div.art3Photo {
        height: 80vh;
    }
    #art3 div.abtContent {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    #art3 div.abtContent p {
        line-height: 2.5;
        font-size: 20px; 
    }
    #art3 h3.skills {
        font-size: 75px;
        padding-top: 50%;
    }
    #art4 div.about {
        margin-right: 25%;
        padding: 3px;
        margin-left: 25%;
    }
    #art4 p {
        font-size: 21px;
    }
    #art4 div.about h1, #art5 h1 {
        font-size: 50px; 
    }
    #art4 div.about h1 {
        line-height: 1; 
    }
    #art4 div.hobbyContent {
        margin-top: 1%;
    }
    #art4 div.hobbyContent h1 {
        font-size: 35px;
    }
    #art4 div.hobbiesPhoto {
        height: 80vh;
    }
    #art4 div.hobbiesPhoto div.hobby {
        flex-basis: 27%;
    }
    div.art5Content p {
        font-size: 15px;
        line-height: 2;
    }
    div.art5Line {
        margin-top: 5%;
    }
    #art5 div.art5Photo {
        height: 40vh;
    }
    #art5 ol {
        margin-left: 14%;
        line-height: 3;
        width: 70vw;
        font-size: 21px;
    }
    footer > div.contact {
        padding-top:0; 
    }
    footer h5 {
        font-size: 18px; 
    }
    footer .contact i {
        font-size: 2.5rem;
    }
}

/* Media Query for Large Screens */
@media (min-width: 1281px)  {
    a, .burger { 
        font-size: 18px; 
    }
    p {
        margin-right: 0;
        margin-left: 0;
    }
    header {
        background-position: top, left;
    }
    header h1 {   
        font-size: 70px;
    }
    #art1 div.whyPortfolio {
        width: 50vw;
        height: 50vh;
        margin-top: calc(100% - 90%);
        margin-left: calc(100% - 75%);
        padding: 2% 10% 2% 10%; 
    }
    #art1 div.whyPortfolio h1 {
        font-size: 35px ; 
    }
    #art1 h2.fontStyle,  #art1 h3.fontStyle,  #art1 h5.fontStyle {
        font-size: 21px; 
    }  
    #art2 > div.art2Content {
        margin: 10% 0 10% 0;
    }
    #art2 > div.art2Content, #art2 div.welcomePhoto {
        flex-basis: 48%;
    }
    #art2 div.welcomePhoto {
        height: 50vh;
    }
    #art2 > div.art2Content h2 {
        font-size: 65px;
    }
    #art1, #art2 p {
        line-height: 2;
    }
    #art3 div.art3Photo {
        height: 80vh;
    }
    #art3 div.abtContent {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    #art3 div.abtContent p {
        line-height: 2.5; 
    }
    #art3 h3.skills {
        font-size: 65px;
        padding-top: 30%;
    }
    #art4 p {
        font-size: 16px;
    }
    #art4 div.about {
        margin-right: 35%;
        padding: 3px;
        margin-left: 35%;
    }
    #art4 div.about h1, #art5 h1 {
        font-size: 50px; 
    }
    #art4 div.about h1 {
        line-height: 1; 
    }
    #art4 div.hobbyContent {
        margin-top: 1%;
    }
    #art4 div.hobbyContent h1 {
        font-size: 35px;
    }
    #art4 div.hobbiesPhoto {
        height: 41vh;
    }
    #art4 div.hobbiesPhoto div.hobby {
        flex-basis: 15%;
    }
    div.art5Line {
        margin-top: 4%;
    }
    div.art5Content p {
        font-size: 15px;
        line-height: 2;
    }
    #art5 div.art5Photo {
        height: 75vh;
    }
    #art5 ol {
        margin-left: 14%;
        line-height: 3;
        width: 70vw;
    }
    footer > div.contact {
        padding-top:0; 
    }
    footer h5 {
        font-size: 15px; 
    }
    .contact i {
        font-size: 2.5rem; 
    }
}