* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --pink: #da7b93;;
    --blue: #0693AE;
    --orange: #d9b08c;
}
html {
    scroll-behavior: smooth;}
body { 
    font-family: 'Lato', sans-serif; }
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}     
#myBtn:hover {
    background-color: #555;
} 
/*COLORS*/
nav a, .burger, #hobby div.about h1, footer h5  {     
    color: white; }
.contact i  {
    color: #2c3531; }
p.text-center, .skills, #welcome > div.art2Content p.font, #hobby div.hobbyContent h1, #skills h1 { 
    color: var(--blue); }
#welcome > div.art2Content h2,nav a:hover, .contact i:hover, #hobby div.hobbyContent p.hobbyColor {
    color: var(--orange); }
/* BACKGROUND */
#hobby div.about  {
    background-color: var(--orange);}
nav, .burger {
    background-color: var(--blue);
}
header, #portfolioIdea, #welcome div.welcomePhoto, #about div.art3Photo  {
        background-repeat: no-repeat; }
header,#portfolioIdea, #about div.art3Photo,#hobby div.hobbiesPhoto div.hobby, #skills div.art5Photo {
        background-size: cover; }
#welcome div.welcomePhoto {
    background-size: contain; }
/*POSITIONS*/
nav, .burger, div.mask > p {
    position: absolute; }
#portfolioIdea, #welcome, #about, #hobby, #skills {
    position: relative; }
/*FLEX*/
nav ul,#welcome, #hobby div.hobbiesPhoto, footer > .contact, #skills > div.container5, div.container6 {
    display: flex;}
/*TEXT ALIGN*/
.burger, header, .skills, #portfolioIdea div.whyPortfolio h2.fontStyle, h3.fontStyle, h5.fontStyle, #welcome > div.art2Content .font, #welcome > div.art2Content p, #welcome div.contact,#about div.abtContent, #hobby div.about h1,#skills h1, #skills div.art5Content p, h3, h5, #hobby div.hobbyContent h1, div.mask > p   {
    text-align: center; }
/* FONTS  */
.skills, #welcome > div.art2Content .font, #hobby div.hobbyContent p.hobbyColor, #skills h1{
    font-family: 'Fredericka the Great', cursive;}
/* .................... nav .................... */
nav {
    width: 98vw;
    height: 50px;
    line-height: 50px;
    top:35%;
}
nav ul {
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
nav>ul>li { 
    list-style: none; }
nav a:hover, a { 
    text-decoration: none; }
a {
    font-size: 13px;}
.burger {
    z-index: 1;
    width: 10%;
    line-height: 50px;
    padding-right: 5px;
    font-size: 15px;
    top:35%;
}
.hidden { 
    display: none; 
}
/* .................... header .................... */
header {
    height: 100vh; 
    position: static;
    background-image: url(../img/bgi/clean-deskjpg.webp);
    overflow: hidden;
    background-position: 30%, 0;
}
header h2 { 
    font-size: 25px; 
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
header h1, h2 {
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 40px;
    padding-top: 50vh;
}
/* .................... SECTION.................... */
section {
    overflow-x: hidden; }
/*.................... article 1 ....................*/
p {
    font-size: 18px;
    padding-left: 7%;
    padding-right: 7%;
}
h3 {
    font-size: 30px;}
h4 {
    font-size: 30px;}
h3, h5 {
    letter-spacing: 2px;
    padding-top: 30px;
    font-weight: 300;
}
#portfolioIdea {
    min-height: 65vh;
    background-image: url(../img/bgi/notatnik.webp);
}
#portfolioIdea div.whyPortfolio {
    background-color: white;
    box-shadow: 6px 12px #f5f5f5;
    width: 76vw;
    margin-left: auto;
    margin-right: auto;
    padding: 3%; 
}
#portfolioIdea div.whyPortfolio h1 {
    border-bottom: 2px solid var(--orange);
    font-size: 30px;
}
#portfolioIdea div.whyPortfolio h2.fontStyle {
    padding-top: 5%; }
#portfolioIdea div.whyPortfolio h2.fontStyle, h3.fontStyle, h5.fontStyle {
    letter-spacing: normal;
    font-size: 20px; 
}
#portfolioIdea, #welcome p {
    line-height: 1; }
/*  ................... article 2 ....................*/
#welcome {
    flex-wrap: wrap;
    background-color: #fffafa;
}
#welcome > div.art2Content h2 {
    padding-top: 5%;
    border-bottom: 2px solid var(--orange);
    font-size: 45px;
}
#welcome > div.art2Content {
    margin: 10% 0 5% 0;
}
#welcome > div.art2Content, #welcome div.welcomePhoto {
    flex-basis: 100%;
}
#welcome div.welcomePhoto {
    background-image: url(../img/bgi/pexels-kaboompics-com-6440.webp); 
    margin: auto;
    height: 40vh;
}
.contact i {
    transition: 0.4s linear; }
#welcome p {
    font-size: 18px;
    padding-left: 5%;        
    padding-right: 5%;
}
#welcome .contact i {
    font-size: 1.5rem; }
.contact i:hover {
    transform: rotate(360deg); }
/*  ................... article 3  .................... */
#about div.art3Photo { 
    background-image: url(../img/bgi/pexels-cottonbro-4065876.webp);
    background-position: 20%;
    height: 50vh;
}
#about div.abtContent p {
    font-style: italic;
    line-height: 1.5;
}
#about p {
    font-size: 16px; }
#about h3.skills {
    font-size: 43px;
    padding-top: 35%;
    padding-left: 7%;
    padding-right: 7%;
}
/* .................... artilce 4 .................... */
#hobby div.hobbiesPhoto {
    flex-wrap: wrap;
    margin-top: 5%;
    height: 85vh;
}
#hobby div.hobbiesPhoto div.hobby {
    margin-left: auto;
    margin-right: auto;
    flex-basis: 38%;
    position: relative;
    background-repeat: no-repeat;
    padding: 20px;
    background-size: cover;
    background-position: center top;
}
#hobby div.hobbiesPhoto div.hobby.h1 {
    background-image: url(../img/hobbies/pich1.webp);
}
#hobby div.hobbiesPhoto div.hobby.h2 {
    background-image: url(../img/hobbies/pich2.webp);
}
#hobby div.hobbiesPhoto div.hobby.h3 {
    background-image: url(../img/hobbies/pich3.webp);
}
#hobby div.hobbiesPhoto div.hobby.h4 {
    background-image: url(../img/hobbies/pich4.webp);
}
#hobby div.hobbiesPhoto div.hobby.h5 {
    background-image: url(../img/hobbies/pich5.webp);
}
#hobby div.hobbiesPhoto div.hobby.h6 {
    background-image: url(../img/hobbies/pich6.webp);
}
#hobby div.about {
    padding: 3px;
}
#hobby div.about h1 {
    font-size: 30px; 
}
#hobby div.hobbyContent h1 {
    font-size: 30px;
}
#hobby p {
    font-size: 13px;
    padding-top: 1%;
}
#hobby div.hobbyContent p {
    line-height: 2; }
#hobby p.hobbyColor {
    padding-top: 0; 
}
.mask {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
}
.mask:hover {
    cursor: pointer;
    background-color: rgba(17, 92, 48, 0.514);
}
div.mask > p  {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 10px;
    opacity: 0;
    transition: 0.5s;
}
.mask:hover p  {
    opacity: 1;
}
/*.................... article 5 ....................*/
#skills > div.container5 {
    flex-wrap: nowrap;
}
#skills h1 {
    flex-basis: 20%;
    font-size: 30px; 
}
div.art5Line {
    flex-basis: 40%;
    height: 1%;
    margin-top: 10%;
    border-bottom: 2px solid var(--orange);
}
div.art5Content {
    flex-basis: 40%;
}
#skills div.art5Photo {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/bgi/art5.webp);
    height: 35vh;
}
div.art5Content p {
    font-size: 10px;
}
#skills ol {
    margin-left: 12%;
    width: 80%;
}
#skills li {
    padding-left: 2%;
}
/* ................... footer ...................*/
footer {
    background-color: black;
    padding: 1%;
}
.contact i {
    font-size: 1.5rem; }
footer > div.contact {
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-top: 5%;
}
footer h5 {
    text-align: right; 
    font-size: 6px;
}

/*Media Query for low resolution Tablets, Ipads, Mobiles portrait mode*/
@media (min-width: 481px) and (max-width: 767px) {
    #welcome div.welcomePhoto {
        height: 40vh;
        margin-bottom: 10%;
        background-size: cover;
    }
    #welcome p {
        line-height: 2;
    }
    #welcome .contact i {
        font-size: 2rem;
    }
    #about div.art3Photo {
        height: 70vh;
    }
    #about div.abtContent p {
        margin-top: 5%;
    }
    #hobby div.about {
        margin-right: 20%;
        margin-left: 20%;
    }
    #hobby div.hobbiesPhoto div.hobby {
        flex-basis: 38%;
    }
    #hobby div.hobbiesPhoto {
        height: 90vh;
    }
    #hobby p {
        font-size: 16px;
    }
    div.art5Line {
        margin-top: 10%;
    }
    #skills div.art5Photo {
        height: 20vh;
    }
    footer h5 {
        font-size: 9px;
    }
}
/*Media Query for low resolution Tablets, Ipads, Mobiles and landscape*/
@media (max-width: 767px) and (orientation:landscape) {
    #portfolioIdea {
        min-height: 85vh;
        background-position: center;
    }
    h2.fontStyle, h3.fontStyle, h5.fontStyle {
        font-size: 16px;
    }
    #welcome div.welcomePhoto {
        height: 60vh;
    }
    #hobby div.hobbiesPhoto div.hobby {
        flex-basis: 26%;
    }
    #about h3.skills {
        padding-top: 30%;
    }
    #about div.art3Photo {
        height: 80vh;
    }
    div.art5Line {
        margin-top: 5%;
    }
    div.art5Content p {
        font-size: 13px;
    }
}

/*Media Query for Tablets, Ipads portrait mode*/
@media (min-width: 768px) and (max-width: 1024px) {
    a, .burger { 
        font-size: 16px; 
    }
    header {
        background-position: center;
    }
    header h1 {   
        font-size: 40px;
    }
    header p.skills {
        font-size: 22px;
    }
    #portfolioIdea {
        min-height: 50vh;
    }
    #portfolioIdea div.whyPortfolio {
        width: 80vw;
        padding: 2% 8% 2% 8%;
    }
    #portfolioIdea div.whyPortfolio h1 {
        font-size: 30px ; 
    }
    #portfolioIdea h2.fontStyle,  #portfolioIdea h3.fontStyle,  #portfolioIdea h5.fontStyle {
        font-size: 24px; 
    }  
    #welcome2 div.welcomePhoto {
        height: 45vh;
        margin-bottom: 10%;
        background-size: cover;
    }
    #welcome > div.art2Content {
        margin: 10% 0 5% 0;
    }
    #welcome > div.art2Content, #welcome div.welcomePhoto {
        flex-basis: 100%;
    }
    #welcome > div.art2Content h2 {
        font-size: 55px;
        padding-top: 1%;
    }
    #portfolioIdea {
        line-height: 1.2;
    }
    #welcome p {
        line-height: 2;
        font-size: 21px;
    }
    #about p {
        font-size: 18px;
    }
    #about div.abtContent {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    #about div.abtContent p {
        line-height: 2.5; 
    }
    #about h3.skills {
        font-size: 55px;
        padding-top: 50%;
    }
    #hobby div.hobbiesPhoto {
        height: 60vh;
    }
    #hobby div.hobbiesPhoto div.hobby {
        flex-basis: 32%;
    }
    #hobby div.about {
        margin-right: 22%;
        margin-left: 22%;
    }
    #hobby div.about h1, #skills h1 {
        font-size: 50px; 
    }
    #hobby p {
        font-size: 16px;
    }
    div.art5Line {
        margin-top: 6%;
    }
    div.art5Content p {
        font-size: 14px;
    }
    #skills div.art5Photo {
        height: 25vh;
    }
    #skills h3 {
        font-size: 35px;
    }
    #skills ol {
        margin-left: 14%;
        line-height: 2;
        width: 70vw;
    }
    footer > div.contact {
        padding-top:1px; 
    }
    footer h5 {
        font-size: 10px; 
    }
    .contact i {
        font-size: 2rem; 
    }
}
/*Media Query for Tablets, Ipads landscape mode*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation:landscape){
    header h1 {   
        font-size: 55px;
    }
    header p.skills {
        font-size: 21px;
    }
    #portfolioIdea div.whyPortfolio h1 {
        font-size: 40px ; 
    }
    #portfolioIdea {
        line-height: 2;
        height: 70vh;
    }
    #welcome .contact i {
        font-size: 2rem;
    }
    #welcome div.welcomePhoto {
        height: 45vh;
    }
    #about div.abtContent p {
        line-height: 3; 
    }
    #about h3.skills {
        font-size: 60px;
        padding-top: 28%;
    }
    #hobby div.hobbiesPhoto {
        height: 80vh;
    }
    div.art5Content p {
        font-size: 16px;
    }
    footer h5 {
        font-size: 12px; 
    }
    .contact i {
        font-size: 2.5rem; 
    }
}
/*Media Query for Laptops and Desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {
    a, .burger { 
        font-size: 18px; 
    }
    p {
        margin-right: 0;
        margin-left: 0;
    }
    header {
        background-position: top, left;
    }
    header h1 {   
        font-size: 70px;
    }
    #portfolioIdea div.whyPortfolio {
        width: 70vw;
        padding: 2% 10% 2% 10%;
    }
    #portfolioIdea div.whyPortfolio h1 {
        font-size: 35px ; 
    }
    #portfolioIdea h2.fontStyle,  #portfolioIdea h3.fontStyle,  #portfolioIdea h5.fontStyle {
        font-size: 21px; 
    }  
    #welcome p {
        font-size: 25px;
    }
    #welcome > div.art2Content, #welcome div.welcomePhoto {
        flex-basis: 100%;
    }
    #welcome div.welcomePhoto {
        height: 50vh;
        margin: 0 5% 5% 5%;
        background-size: cover;
        background-position: top;
    }
    #welcome > div.art2Content h2 {
        font-size: 65px;
    }
    #welcome .contact i {
        font-size: 2.5rem;
    }
    #portfolioIdea, #welcome p {
        line-height: 2;
    }
    #about div.art3Photo {
        height: 80vh;
    }
    #about div.abtContent {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    #about div.abtContent p {
        line-height: 2.5;
        font-size: 20px; 
    }
    #about h3.skills {
        font-size: 75px;
        padding-top: 50%;
    }
    #hobby div.about {
        margin-right: 25%;
        padding: 3px;
        margin-left: 25%;
    }
    #hobby p {
        font-size: 21px;
    }
    #hobby div.about h1, #skills h1 {
        font-size: 50px; 
    }
    #hobby div.about h1 {
        line-height: 1; 
    }
    #hobby div.hobbyContent {
        margin-top: 1%;
    }
    #hobby div.hobbyContent h1 {
        font-size: 35px;
    }
    #hobby div.hobbiesPhoto {
        height: 80vh;
    }
    #hobby div.hobbiesPhoto div.hobby {
        flex-basis: 27%;
    }
    div.art5Content p {
        font-size: 15px;
        line-height: 2;
    }
    div.art5Line {
        margin-top: 5%;
    }
    #skills div.art5Photo {
        height: 30vh;
    }
    #skills ol {
        margin-left: 14%;
        line-height: 3;
        width: 70vw;
        font-size: 21px;
    }
    footer > div.contact {
        padding-top:0; 
    }
    footer h5 {
        font-size: 18px; 
    }
    footer .contact i {
        font-size: 2.5rem;
    }
}
/* Media Query for Large Screens */
@media (min-width: 1281px)  {
    #portfolioIdea {
        height: 100vh;
        background-position: bottom;
    }
    a, .burger { 
        font-size: 18px; 
    }
    p {
        margin-right: 0;
        margin-left: 0;
    }
    header {
        background-position: top, left;
    }
    header h1 {   
        font-size: 70px;
    }
    #portfolioIdea div.whyPortfolio {
        width: 50vw;
        padding: 3%; 
    }
    #portfolioIdea div.whyPortfolio h1 {
        font-size: 35px ; 
    }
    #portfolioIdea h2.fontStyle,  #portfolioIdea h3.fontStyle,  #portfolioIdea h5.fontStyle {
        font-size: 21px; 
    }  
    #welcome > div.art2Content {
        margin: 10% 0 10% 0;
    }
    #welcome > div.art2Content, #welcome div.welcomePhoto {
        flex-basis: 48%;
    }
    #welcome div.welcomePhoto {
        height: 50vh;
    }
    #welcome > div.art2Content h2 {
        font-size: 65px;
    }
    #portfolioIdea, #welcome p {
        line-height: 2;
    }
    #about div.art3Photo {
        height: 80vh;
    }
    #about div.abtContent {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    #about div.abtContent p {
        line-height: 2.5; 
    }
    #about h3.skills {
        font-size: 65px;
        padding-top: 30%;
    }
    #hobby p {
        font-size: 16px;
    }
    #hobby div.about {
        margin-right: 35%;
        padding: 3px;
        margin-left: 35%;
    }
    #hobby div.about h1, #skills h1 {
        font-size: 50px; 
    }
    #hobby div.about h1 {
        line-height: 1; 
    }
    #hobby div.hobbyContent {
        margin-top: 1%;
    }
    #hobby div.hobbyContent h1 {
        font-size: 35px;
    }
    #hobby div.hobbiesPhoto {
        height: 41vh;
    }
    #hobby div.hobbiesPhoto div.hobby {
        flex-basis: 15%;
    }
    #hobby div.mask > p  {
        font-size: 20px;
    }
    div.art5Line {
        margin-top: 4%;
    }
    div.art5Content p {
        font-size: 15px;
        line-height: 2;
    }
    #skills div.art5Photo {
        height: 75vh;
    }
    #skills ol {
        margin-left: 14%;
        line-height: 3;
        width: 70vw;
    }
    #skills h3 {
        font-size: 50px;
    }
    footer > div.contact {
        padding-top:0; 
    }
    footer h5 {
        font-size: 15px; 
    }
    .contact i {
        font-size: 2.5rem; 
    }
}