* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --pink: #da7b93;;
    --blue: #0693AE;
    --orange: #d9b08c;
}
html {
    scroll-behavior: smooth;}
body { 
    font-family: 'Lato', sans-serif; }
/*COLORS*/
nav a, .burger, #art4 div.about h1, footer h5  {     
    color: white; }
.contact i  {
    color: #2c3531; }
nav a:hover, .skills, #art2 > div.art2Content p.font, #art4 div.hobbyContent h1, #art5 h1 { 
    color: var(--blue); }
#art2 > div.art2Content h2, .contact i:hover, #art4 div.hobbyContent p.hobbyColor {
    color: var(--orange); }
/* BACKGROUND */
nav, .burger, #art3 div.shadow, #art4 div.about  {
    background-color: var(--orange);}
header, #art1, #art2 div.welcomePhoto, #art3 {
        background-repeat: no-repeat; }
header, #art1, #art3, #art4 div.hobbiesPhoto div.hobby, #art5 div.art5Photo {
        background-size: cover; }
#art2 div.welcomePhoto {
    background-size: contain; }
/*POSITIONS*/
nav, .burger, #art1 div.whyPortfolio, #art2 > div.art2Content, #art2 div.welcomePhoto, #art3 h3.skills, #art3 div.shadow, #art3 div.abtContent, #art4 div.hobbiesPhoto, #art4 div.about, #art4 div.hobbyContent, #art4 div.hobbyContent h1, #art5 div.art5Line, #art5 div.art5Content  {
    position: absolute; }
#art1, #art2, #art3, #art4, #art5 {
    position: relative; }
/*FLEX*/
nav ul, #art4 div.hobbiesPhoto, footer > .contact  {
    display: flex;}
/*TEXT ALIGN*/
.burger, header, .skills, #art1 div.whyPortfolio h2.fontStyle, h3.fontStyle, h5.fontStyle, #art2 > div.art2Content .font, #art2 > div.art2Content p, #art2 div.contact, #art4 div.about h1, #art5 div.art5Content p, h3, h5   {
    text-align: center; }
/* FONTS  */
.skills, #art2 > div.art2Content .font, #art4 div.hobbyContent p.hobbyColor, #art5 h1 {
    font-family: 'Fredericka the Great', cursive;}
/* HEIGHT  */
header, #art1, #art2, #art3 {
    height: 100vh; }
/* .................... nav .................... */
nav {
    width: 98vw;
    height: 50px;
    line-height: 50px;
    top:35%;
}
nav ul {
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
nav>ul>li { 
    list-style: none; }
nav a:hover, a { 
    text-decoration: none; }
a {
    font-size: 13px;}
.burger {
    z-index: 1;
    width: 10%;
    line-height: 50px;
    padding-right: 5px;
    font-size: 15px;
    top:35%;
}
.hidden { 
    display: none; 
}
/* .................... header .................... */
header {
    position: static;
    background-image: url(../img/clean-deskjpg.jpg);
    overflow: hidden;
    background-position: 30%, 0;
}
header h2 { 
    font-size: 25px; 
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
header h1, h2 {
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 40px;
    padding-top: 50vh;
}
/* .................... SECTION.................... */
section {
    overflow-x: hidden; }
/*.................... article 1 ....................*/
p {
    font-size: 18px;
    padding-left: 7%;
    padding-right: 7%;
}
h3 {
    font-size: 40px;}
h4 {
    font-size: 30px;}
h3, h5 {
    letter-spacing: 2px;
    padding-top: 30px;
    font-weight: 300;
}
#art1 {
    background-image: url(../img/bgi/notatnik.jpg);
    background-position: top right;
}
#art1 div.whyPortfolio {
    background-color: white;
    box-shadow: 6px 12px #f5f5f5;
    width: 76vw;
    height: 48vh;
    margin-top: calc(100% - 90%);
    margin-left: calc(100% - 89%);
    padding: 1% 3% 1% 3%; 
}
#art1 div.whyPortfolio h1 {
    border-bottom: 2px solid var(--orange);
    padding-top: 8%;
    font-size: 30px;
}
#art1 div.whyPortfolio h2.fontStyle {
    padding-top: 5%; }
#art1 div.whyPortfolio h2.fontStyle, h3.fontStyle, h5.fontStyle {
    letter-spacing: normal;
    font-size: 20px; 
}
#art1, #art2 p {
    line-height: 1; }
/*  ................... article 2 ....................*/
#art2 {
    background-color: #fffafa;}
#art2 > div.art2Content {
    margin-top: calc(100% - 90%);
    margin-left: calc(100% - 95%);
    height: 50vh;
    width: 92vw;
}
#art2 > div.art2Content h2 {
    padding-top: 5%;
    border-bottom: 2px solid var(--orange);
    font-size: 45px;
}
#art2 div.welcomePhoto {
    background-image: url(../img/bgi/pexels-kaboompics-com-6440.jpg); 
    margin-top: calc(100% - 11%);
    margin-left: calc(100% - 79%);
    height: 40vh;
    width: 58vw;
}
.contact i {
    transition: 0.4s linear; }
#art2 p {
    font-size: 18px;
    padding-left: 5%;        
    padding-right: 5%;
}
#art2 .contact i {
    font-size: 1.5rem; }
.contact i:hover {
    transform: rotate(360deg); }
/*  ................... article 3  .................... */
#art3 { 
    background-image: url(../img/bgi/pexels-cottonbro-4065876.jpg);
    background-position: 20%;
}
#art3 div.shadow {
    opacity: 50%;
    width: 100vw;
    height: 15%;
    margin-top: calc(100% - 50%);
}
#art3 div.abtContent {
    margin-top: calc(100% - 45%);
    margin-left: calc(100% - 92%);
    width: 80vw;
}
#art3 div.abtContent p {
    font-style: italic;
    line-height: 1.5;
}
#art3 p {
    font-size: 16px; }
#art3 h3.skills {
    margin-top: 12%;
    margin-right: 33%;
    font-size: 45px;
}
/* .................... artilce 4 .................... */
#art4 {
    height: 100vh; }
#art4 p {
    font-size: 13px;
    padding-top: 5%;
}
#art4 div.hobbiesPhoto {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: calc(100% - 95%);
    margin-top: calc(100% - 85%);
    height: 60vh;
    width: 70vw;
}
#art4 div.hobbiesPhoto div.hobby {
    flex-basis: 45%;
}
#art4 div.hobbiesPhoto div.hobby.h1 {
    background-image: url(../img/hobbies/me1.JPG);
}
#art4 div.hobbiesPhoto div.hobby.h2 {
    background-image: url(../img/hobbies/me2.JPG);
}
#art4 div.hobbiesPhoto div.hobby.h3 {
    background-image: url(../img/hobbies/me3.JPG);
}
#art4 div.hobbiesPhoto div.hobby.h4 {
    background-image: url(../img/hobbies/me4.JPG);
}
#art4 div.hobbiesPhoto div.hobby.h5 {
    background-image: url(../img/hobbies/me5.JPG);
}
#art4 div.hobbiesPhoto div.hobby.h6 {
    background-image: url(../img/hobbies/me6.JPG);
}
#art4 div.about {
    border: 3px solid whitesmoke;
    width: 28%;
    height: 10%;
    margin-top: calc(100% - 11%);
    margin-left: calc(100% - 32%); 
}
#art4 div.about h1 {
    margin: 5%;
    font-size: 30px;
    line-height: 2;  
}
#art4 div.hobbyContent {
    height: 30vh;
    width: 80vw;
    margin-left: calc(100% - 95%);
    margin-top: calc(100% - -50%);
}
#art4 div.hobbyContent h1 {
    margin-left: calc(100% - 80%);
    margin-top: calc(100% - 110%);
    letter-spacing: 1px;
    font-size: 30px;
}
#art4 div.hobbyContent p {
    line-height: 2; }
#art4 p.hobbyColor {
    padding-top: 0; }
/*.................... article 5 ....................*/
#art5 h1 {
    padding-top: 5%; 
    font-size: 30px; 
    margin-left: 5%;
}
#art5 div.art5Line {
    height: 1%;
    border-bottom: 2px solid var(--orange);
    margin-left: calc(100% - 86%);
    margin-top: calc(100% - 114%);
    width: 46%;
}
#art5 div.art5Photo {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/bgi/art5.jpg);
    height: 35vh;
}
#art5 div.art5Content p {
    font-size: 10px;
}
#art5 div.art5Content {
    margin-left: calc(100% - 40%);
    margin-top: calc(100% - 128%);
    width: 40%;
}
#art5 div.softSkills h3 {
    font-size: 25px;
    padding-left: 5%;
    padding-right: 5%;
}
#art5 ol {
    margin-left: 12%;
    width: 80%;
}
/* ................... footer ...................*/
footer {
    background-color: black;
    padding: 1%;
}
.contact i {
    font-size: 1.5rem; }
footer > .contact {
    flex-flow: row nowrap;
    justify-content: space-around;
}
footer h5 {
    text-align: right; 
    font-size: 10px;
}

/*Media Query for low resolution Tablets, Ipads, Mobiles (landscape)*/
@media (min-width: 481px) and (max-width:767px) {}

/*Media Query for Tablets, Ipads portrait mode*/
@media (min-width: 768px) and (max-width: 1024px) {}

/*Media Query for Tablets, Ipads landscape mode*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation:landscape){}

/*Media Query for Laptops and Desktops*/
@media (min-width: 1025px) and (max-width:1280) {
}

/* Media Query for Large Screens */
@media (min-width: 1281px)  {
    a, .burger { 
        font-size: 18px; }
    p {
        margin-right: 0;
        margin-left: 0;
    }
    header {
        background-position: top, left;}
    header h1 {   
        font-size: 70px;}
    #art4 div.hobbyContent h1 {
        font-size: 30px;}
    #art1 div.whyPortfolio {
        width: 50vw;
        height: 50vh;
        margin-left: calc(100% - 75%);
        padding: 2% 10% 2% 10%; }
    #art1 div.whyPortfolio h1 {
        font-size: 35px ; }
    #art1 h2.fontStyle,  #art1 h3.fontStyle,  #art1 h5.fontStyle {
        font-size: 21px; }  
    #art2 > div.art2Content, #art2 div.welcomePhoto, #art4 div.hobbyContent {
        width: 40vw;}
    #art2 > div.art2Content h2 {
        font-size: 65px;}
    #art1, #art2 p {
        line-height: 2;}
    #art2 div.welcomePhoto {
        margin-top: calc(100% - 85%);
        margin-left: calc(100% - 45%);
        height: 50vh;}
    #art3 div.abtContent {
        margin-top: calc(100% - 68%);
        margin-left: calc(100% - 92%);
        width: 50vw;
    }
    #art3 div.shadow {
        margin-top: calc(100% - 75%); 
        height: 25%; }
    #art3 div.abtContent p {
        line-height: 2.5; }
    #art3 h3.skills {
        margin-top: 10%;
        margin-left: 76%;
        font-size: 60px;}
    #art4 div.about h1, #art5 h1 {
        font-size: 50px; }
    #art4 div.about h1 {
        line-height: 1; }
    #art4 div.hobbyContent {
        height: 30vh;
        margin-left: calc(100% - 45%);
        margin-top: calc(100% - 68%);}
    #art4 div.about {
        width: 18%;
        height: 10%;
        margin-top: calc(100% - 77%);
        margin-left: calc(100% - 58%);}
    #art4 div.hobbiesPhoto {
        margin-left: calc(100% - 95%);
        margin-top: calc(100% - 93%);
        height: 73vh;
        width: 45vw;}
    #art4 div.hobbiesPhoto div.hobby {
        flex-basis: 30%;}
    #art5 h1 {
        margin-left: 5%;}
    #art5 div.art5Content p {
        font-size: 15px;}
    #art5 div.art5Line {
        margin-left: calc(100% - 85%);
        margin-top: calc(100% - 105%);
        width: 50%;}
    #art5 div.art5Content { 
        margin-left: calc(100% - 33%);
        margin-top: calc(100% - 106%);
        width: 30%;}
    #art5 div.art5Photo {
        height: 75vh;}
    #art5 ol {
        margin-left: 14%;
        line-height: 3;
        width: 70vw;
    }
    footer h5 {
        font-size: 15px; }
    .contact i {
        font-size: 2.5rem; }
}