* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
h4 {
    font-size: 30px;
    letter-spacing: 6px;
}
    // colors
    .intro button, .intro h1 {
        color: white;
    }
    nav a, .intro h2, .rotate p, .intro i, .social a, article#art2 p {
        color: rgb(182, 182, 182);
    }
    .intro button i, nav a:hover, a:first-of-type, header nav h3, article#art2 h1 span  {
        color: #FF4200;
    }
    header .intro hr, article#art3 hr {
        background-color: #FF4200;
    }
    header .intro .rotate hr {
        background-color: rgb(182, 182, 182);
    }

header {
    background-color: rgb(36, 34, 34);
    nav {
        margin-top: 1%;
        text-align: justify;
        padding-bottom: 19%;
        a {
            margin-top: 12%;
            display: block; 
        }
        a:hover {
            text-decoration: none;       
        }
        h3 {
            font-size: 35px;
            margin-left: 10%;
            margin-bottom: 35%;
            letter-spacing: 20px;
        }
    }
    .intro {
        text-transform: uppercase;
        h1 {
            font-size: 55px;
            letter-spacing: 15px;
            margin-top: 15%;
        }
        h2 {
            font-size: 15px;
            letter-spacing: 2px;
        }
        hr {
            border: none;
            height: 2px;
            width: 15%;
            margin-top: 3%;
        }
        button {
            background-color: transparent;
            text-transform: uppercase;
            border: none;
            font-weight: 700;
            font-size: 12px;
            i {
                font-size: 15px;
                margin-left: 5px;
            }
        }
        i {
            margin-left: 27%;
            margin-top: 10%;
        }
        h1, h2, hr, button  {
            margin-left: 20%;
        }
        .rotate {
            transform: rotate(90deg);
            width: 300px;
            margin-left: 123px;
            p {
                margin-left: 25%;
                margin-top: 30%;
                font-size: 10px;
            }
            hr {
                border: none;
                height: 2px;
                width: 60%;
            }
        }
    }
    .social {
        text-align: center;
        margin-top: 12%;
        i { 
            display: block;
            font-size: 20px;
            margin-top: 1.5rem;
        }
    }
}

article#art2 {
    h1 {
        font-size: 42px;
        font-weight: bold;
        letter-spacing: 15px;
        text-transform: uppercase;
        margin-top: 20%;
        margin-bottom: 15%;
    }
    hr, p {
        width: 40%;
        margin-left: 5%;
    }
    p {
        font-size: 12px;
        width: 55%;
        padding-bottom: 16%;
    }
}
article#art3 {
    background-color: beige;
    text-transform: uppercase;
    h4 {
        margin-top: 40%;
        margin-left: 25%;
    }
    hr {
        margin-left: 25%;
        width: 65%;
        height: 1px;
        margin-bottom: 25%;
    }
    h5 {
        margin-left: 25%;
        letter-spacing: 2px;
        font-size: 16px;
        margin-top: 5%;
    }
    .photography {
        h5 {
            margin-top: 80%;
        }
        p {
            margin-left: 25%;
            line-height: 2;
            width: 45%;
            text-transform: none;
            font-size: 8px;
            padding-bottom: 6%;
        }
    }
}
article#art4 {
    text-transform: uppercase;
    h4 {
        margin-left: 5%;
        margin-top: 20%;
    }
    hr {
        margin-left: 5%;
        width: 35%;
        height: 1px;
        background-color: #FF4200;
        margin-bottom: 25%;
    }
}