* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    background-image: url(/bracken-close-up-fern-3034736.jpg);
    background-size: cover;
    text-align: center;
    color: #fff;
}
h1 {
    font-family: 'Fredericka the Great', cursive;
    margin: 3%;
}
button {
    width: 10%;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 2%;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    background-color: #B37F8C;
    cursor: pointer;
    transition: 1s;
}
button:hover {
    background-color:#CC8799;
}
li {
    list-style: none;
    margin: 10px;
    font-size: 20px;
}