* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}
/* Preloader */
section.wrapper {
  padding: 140px 0;
}
section.wrapper.dark {
  background: #313134;
}
div.spinner {
  -moz-animation: rotate 10s infinite linear;
  -webkit-animation: rotate 10s infinite linear;
  animation: rotate 10s infinite linear;
  position: relative;
  display: block;
  margin: auto;
  width: 142px;
  height: 142px;
}
div.spinner i {
  -moz-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
  -webkit-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
  animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
  -moz-transform-origin: 50% 100% 0;
  -webkit-transform-origin: 50% 100% 0;
  transform-origin: 50% 100% 0;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  border: solid 6px transparent;
  border-bottom: none;
}
div.spinner i:nth-child(1) {
  -moz-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
  animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
  width: 44px;
  height: 22px;
  margin-top: -22px;
  margin-left: -22px;
  border-color: #2172b8;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
}
div.spinner i:nth-child(2) {
  -moz-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
  animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
  width: 58px;
  height: 29px;
  margin-top: -29px;
  margin-left: -29px;
  border-color: #18a39b;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
}
div.spinner i:nth-child(3) {
  -moz-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
  animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
  width: 72px;
  height: 36px;
  margin-top: -36px;
  margin-left: -36px;
  border-color: #82c545;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
}
div.spinner i:nth-child(4) {
  -moz-animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
  animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
  width: 86px;
  height: 43px;
  margin-top: -43px;
  margin-left: -43px;
  border-color: #f8b739;
  border-top-left-radius: 54px;
  border-top-right-radius: 54px;
}
div.spinner i:nth-child(5) {
  -moz-animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
  animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
  width: 100px;
  height: 50px;
  margin-top: -50px;
  margin-left: -50px;
  border-color: #f06045;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}
div.spinner i:nth-child(6) {
  -moz-animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
  animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
  width: 114px;
  height: 57px;
  margin-top: -57px;
  margin-left: -57px;
  border-color: #ed2861;
  border-top-left-radius: 66px;
  border-top-right-radius: 66px;
}
div.spinner i:nth-child(7) {
  -moz-animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
  animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
  width: 128px;
  height: 64px;
  margin-top: -64px;
  margin-left: -64px;
  border-color: #c12680;
  border-top-left-radius: 72px;
  border-top-right-radius: 72px;
}
div.spinner i:nth-child(8) {
  -moz-animation-timing-function: cubic-bezier(0.09, 2.4, 0.96, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 2.4, 0.96, 0.03);
  animation-timing-function: cubic-bezier(0.09, 2.4, 0.96, 0.03);
  width: 142px;
  height: 71px;
  margin-top: -71px;
  margin-left: -71px;
  border-color: #5d3191;
  border-top-left-radius: 78px;
  border-top-right-radius: 78px;
}
@-moz-keyframes rotate {
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(1, 9, 1);
  z-index: 999999;
}
.preloader-hiding {
  opacity: 0;
  display: none;
}
/* Preloader - end */

body {
  font-family: 'Lato', sans-serif; 
}
h1 {
  font-family: 'Teko', sans-serif;
  color: whitesmoke;
}
h2 {
  font-weight: bold;
  font-size: 20px;
  margin-left: 15%;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h2.preloader {
  font-size: 15px;
  margin-left: 0;
  margin-top: 2%;
  margin-bottom: 2%;
}
h3 {
  padding-top: 6%;
  font-family: 'Lobster Two', cursive; 
  text-align: center;
}
h4 {
  font-size: 17px;
  color: aliceblue;
  text-transform: uppercase;
  padding-top: 6%;
}
h5 {
  padding-top: 6%;
  font-size: 30px;
  font-family: 'Lobster Two', cursive; 
  color: #F29188;
}
h5 span {
  color: white;
}
h6 {
  margin-bottom: 5%;
  font-size: 13px;
}
.nav a {
  font-size: 11px; 
}
ul.nav, .navbar-brand {
  margin-left: auto;
  margin-right: auto; 
} 
.navbar-brand {
  font-size: 18px;
  letter-spacing: 1px;
}
.dropdown-menu.show {
  font-size: 14px; 
}
a.text-light:focus, a.text-light:hover {
  background-color: cadetblue !important; 
}
.jumbotron {
  background: url(../img/photo2.jpg) fixed no-repeat;
  background-size: contain;
  background-position: center 93px;
  height: 50vh;
  margin-bottom: 0;
  background-color: #454b51;
}
#about {
  background-color: #f4f4f4;
  padding-bottom: 5%; 
}
#about img {
  opacity: 0.5;
  margin-top: 3%;
  transform: rotate(90deg);
  width: 18px;
}
#about img:nth-child(odd) {
  margin-top: 7%;
  margin-left: 6%;
  margin-right: 6%;
}
.imgFamily {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 7px solid white;
}
.imgFamily.dad {
  background-image: url(../img_about/about1.jpg);
  position: relative;
  width: 180px;
  height: 180px;
  top: calc(50% - 90px);
  left: calc(50% - 90px); 
}
.imgFamily.bro, .imgFamily.sis {
  position: absolute;
  width: 150px;
  height: 150px;
  margin-top: -15%;
}
.imgFamily.bro {
  background-image: url(../img_about/about3.jpg);
  background-position: -65px 0;
  right: 10%;
}
.imgFamily.sis {
  background-image: url(../img_about/about2.jpg);
  left: 10%; 
}
.textAbout {
  margin: 35% 10% 0 10%; 
}
.info {
  width: 500px;
  height: 300px;
  background-color: antiquewhite; 
}
.col-2.col-sm-2.col-md-2 {
  padding: 0!important;
}
.col-sm-7 {
  padding-right: 0;
  padding-left: 0;
}
.container-fluid {
  width: 100%;
}
ul.dogExhibitions {
  padding: 5%;
}
.breeding {
  background-image: url(../img_other/bgc.png);
  background-size: contain;
}
ul {
  list-style-type: none;
}
.container {
  text-align: center;
  font-size: 12px;
}
strong {
  line-height: 2;
  font-weight: 700;
  margin-right: 1%;
}
article#breed a {
  color: rgb(24, 145, 145);
}
article#breed a:hover {
  color: rgb(24, 124, 91);
}
.row, .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 0;
  padding-left: 0;
}
.fade {
  padding: 0;
}
.gallery .img-fluid {
  margin-bottom: -5%;
}
.img-fluid {
  padding: 5%;
}
.gallery .img-fluid:hover {
  opacity: 0.9;
  transform: scale(1.1,1.1);
}
article#gallery>h3 {
  margin-bottom: 3%;
}
form {
  background-image: url(../img_other/formBgc.png);
  background-size: cover;
  background-position: center;
  margin-top: 5%;
  height: 80vh;
}
input, textarea {
  text-transform: uppercase;
  font-size: 10px;
  background-color: transparent;
  padding: 5px;
  border: 1px solid rgb(148, 148, 148);
}
.right, .left {
  text-align: center;
}
::placeholder {
  color: whitesmoke;
}
input {
  width: 85%;
  margin-bottom: 5%;
}
input[type="submit"] {
  background-color: #F29188;
  color: whitesmoke;
  width: 25%;
  border: none;
}
input[type="submit"]:hover {
  background-color: teal;
}
textarea {
  width: 84%;
  height: 15vh;
}
footer {
  background-color: #09272B;
  color: rgb(155, 155, 155);
}
footer a {
  color: rgb(155, 155, 155);
}
footer a:hover {
  color: aliceblue;
  text-decoration: none;
}
footer hr {
  background-color: rgb(155, 155, 155);
}
.footer-copyright {
  font-size: 14px;
}
.fab {
  font-size: 20px;
  margin-right: 3%;
  margin-top: 3%;
}

/* Small devices (phone, 360) */
@media (max-width:360px) {
  .nav a {
    font-size: 9px;
  }
  .jumbotron {
    background-position: center 90px;
    height: 52vh;
  }
  h5 {
    padding-top: 33%;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:991px) {
  .jumbotron {
    background: url(../img/photo1.jpg) fixed center no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100vh;
    margin-bottom: 0; 
  }
  .nav a {
    font-size: 18px;
  }
  .navbar {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  ul.nav, h1.navbar-brand {
  margin-left: auto;
  margin-right: auto;
  }
  .navbar-brand {  
    margin-left: 2%;
    font-size: 40px;
  }
  .imgFamily.dad {
    width: 260px;
    height: 260px;
    top: calc(50% - 130px);
    left: calc(50% - 130px); 
  }
  .imgFamily.bro {
    right: 10%; 
  }
  .imgFamily.sis {
    left: 10%; 
  }
  .imgFamily.sis, .imgFamily.bro {
    width: 220px;
    height: 220px;
    margin-top: -20%;
  }
  .textAbout {
    margin: 10% 10% 0 10%; 
  }
  .img-fluid {
    padding: 10px;
  }
  .social {
    height: 25%;
  }
  .social i {
    margin-right: 10%;
  }
  .footer-copyright {
    text-align: right;
  }
  .right {
    text-align: right;
  }
  .left {
    text-align: left;
  }
  input {
    width: 38.5%;
    margin-bottom: 2%;
  }
  textarea {
    width: 40%;
    height: 15vh;
  }
  input[type="submit"] {
    width: 10%;
  }
  form {
    height: 45vh;
  }
  h2.preloader {
    margin-left: 0;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  ul.nav {
    margin-right: 3%x;
  }
  .gallery .img-fluid {
    margin-bottom: 2%;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .jumbotron {
    background: url(../img/photo1.jpg) fixed center no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100vh;
    margin-bottom: 0; 
  }
  .nav a {
    font-size: 16px; }
    
  .navbar {
    padding: 0 0; }

  .navbar-brand {  
    margin-left: 2%;
    margin-top: .5%;
    font-size: 30px; 
  }
  .imgFamily.dad {
    width: 260px;
    height: 260px;
    top: calc(50% - 130px);
    left: calc(50% - 130px); 
  }
  .imgFamily.bro {
    background-position: -75px 0;
    left: 57%; 
  }
  .imgFamily.bro, .imgFamily.sis {
    width: 220px;
    height: 220px;
  }
  .imgFamily.sis {
    left: 26%; 
  }
  .textAbout {
    margin: 5% 10% 0 10%; 
  }
  ul {
    list-style-type: disc;
  }
  ul.dogExhibitions {
    padding: 0;
  }
  .img-fluid {
    padding: 10px;
  }
  #about img {
    width: 30px;
  }
  .col-sm-7, .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .container {
    width: 100%;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
  }
  .right, .footer-copyright {
    text-align: right;
  }
  .left {
    text-align: left;
  }
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .breeding {
    padding-left: 0;
    padding-right: 0;
  }
  .breedingContent {
    padding-left: 50px;
  }
  .social {
    height: 25%;
  }
  .social i {
    margin-right: 10%;
  }
  input {
    width: 38.5%;
    margin-bottom: 2%;
  }
  textarea {
    width: 40%;
    height: 15vh;
  }
  input[type="submit"] {
    width: 10%;
  }
  form {
    height: 100vh;
  }
  h2.preloader {
    margin-left: 0;
    margin-top: 2%;
    margin-bottom: 2%;
  } 
  ul.nav {
    margin-right: 3%;
  }
  .gallery .img-fluid {
    margin-bottom: 2%;
  }
} 
/* Ipad Pro */
@media (width:1024px) {
  h1.navbar-brand {
    font-size: 40px;
    margin-left: auto;
    margin-right:auto;
  }
  .nav a {
    font-size: 19px;
  }
  form {
    height: 75%;
  }
}