#art2 .fa-html5 { 
    animation: htmlColor 3s linear infinite;
}
@keyframes htmlColor {
    to {
        color: #e34f26;
    }
}
#art2 .fa-css3-alt { 
    animation: cssColor 3s 0.5s linear infinite;
}
@keyframes cssColor {
    to {
        color: #2E77BB; 
    }
}
#art2 .fa-js { 
    animation: jsColor 3s 0.7s linear infinite;
}
@keyframes jsColor {
    to {
        color: #F0DB4f; 
    }
}
#art2 .fa-git { 
    animation: gitColor 3s 0.9s linear infinite;
}
@keyframes gitColor {
    to {
        color: #f1502f; 
    }
}
/* ajax */
/* jQuery  */
#art2 .fa-bootstrap { 
    animation: bootstrapColor 3s 1.1s linear infinite;
}
@keyframes bootstrapColor {
    to {
        color: #602c50;
    }
}
#art2 .fa-react { 
    animation: reactColor 3s 1.5s linear infinite;
}
@keyframes reactColor {
    to {
        color: #61dbfb; 
    }
}
#art2 .fa-wordpress {
    animation: wordpressColor 2.5s 1s linear infinite;
}
@keyframes wordpressColor {
    to {
        color: #00749C; 
    }
}
#art2 .fa-sass { 
    animation: sassColor 3s 1.3s linear infinite;
}
@keyframes sassColor {
    to {
        color: #CD6799; 
    }
}
#art2 .fa-gulp { 
    animation: gulpColor 2.5s 1.4s linear infinite;
}
@keyframes gulpColor {
    to {
        color: #DB4446; 
    }
}