* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { font-family: 'Lato', sans-serif; }

/* navigation */
nav {
    position: absolute;
    top: 25%;
    width: 100vw;
    height: 50px;
    line-height: 50px;
    background-color: #F2A0B6;
}
/* navigation burger  */
.burger {
    position: absolute;
    top: 25%;
    z-index: 1;
    width: 10%;
    text-align: center;
    line-height: 50px;
    padding-right: 5px;
    font-size: 20px;
    color: #fff;
    background-color:#F2A0B6;
}
.hidden { display: none; }
nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
li { list-style: none; }
nav ul li:hover { background-color:rgb(247, 183, 206)}
a { text-decoration: none; }
nav a { color: #fff;}
nav a:hover { color: #fff; }
/* navigtion - end  */

/* header */
header {
    position: static;
    background-image: url(../img/clean-deskjpg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -195px, left;
    text-align: center;
    height: 100vh;
}
header h1 {   
    font-size: 40px;
    padding-top: 40vh;
}
header h2 { 
    font-size: 25px; 
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
header h1, h2 {
    font-weight: 300;
    letter-spacing: 5px;
}
header button {
    left: calc(50% - 30px);
    width: 60px;
    margin-top: 50px;
    padding: 2px;
    border: #BAC8D9 2px solid;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
}
header button:hover {
    background-color: #BAC8D9;
}
.fa-angle-down:before {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 600px;
    left: 50%;
    font-size: 30px;
    color: rgb(243, 157, 180);
    opacity: 0.0;
    animation: angleDown 3s linear infinite;
}
@keyframes angleDown {
    25% {
        top: 640px; 
        opacity: 0;
    }
    50% {
        top: 650px;
        opacity: 0.9;
    }
    75% {
        top: 660px;
        opacity: 0.8;
    }
    80% {
        top: 670px;
        opacity: 0.5;
    }
    100% {
        top: 700px;
        opacity: 0;
    }
}  
/* header - end  */

/* --- SECTION --- */
#art1, #art3 { background-color: #F1EEEA; }
/* article 1 */
#art1 { position: relative; }
h3 {
    letter-spacing: 2px;
    font-size: 27px;
    padding-top: 30px;
    font-weight: 300;
    text-align: center;
}
#art1 div.myPic {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    background-image: url(../img/me.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
}
#art1 p.text1 {
    text-align: center;
    line-height: 2.5;
    margin: 10% 15% 15% 15%;
}
.fa-graduation-cap:before { 
    position: absolute;
    top: 92%;
    left: calc(50% - 25px);
    font-size: 40px;
    cursor: pointer;
    animation: shakes 5s linear infinite; 
    color: #292A2B;
    opacity: 0.9;
}
@keyframes shakes {
    0% {
        transform: translateX(0)
    }
    90% {
        transform: translateX(0)
    }
    91% {
        transform: translateX(20px)
    }
    92% {
        transform: translateX(-20px)
    }
    93% {
        transform: translateX(20px)
    }
    94% {
        transform: translateX(-20px)
    }
    95% {
        transform: translateX(20px)
    }
    96% {
        transform: translateX(-20px)
    }
    97% {
        transform: translateX(20px)
    }
    98% {
        transform: translateX(-20px)
    }
    99% {
        transform: translateX(20px)
    }
    100% {
        transform: translateX(0)
    }
}
/*  article 1 MORE  */
.more {
    display: block;
    position: absolute;
    line-height: 2;
    top: 0;
    z-index: 1;
    padding: 0 10% 1% 10%;
    font-size: 18px;
    color: #fff;
    background-color:#174255;
}
.more.inactive { display: none; }
.more p.text2 { 
    text-align: center;
    background-color: rgba(255,255, 255, 0.1);
    padding: 5%;
}
.more a {
    color: #BFBFBF;
    cursor: pointer;
}
.more i.fa-times-circle {
    position: absolute;
    font-size: 25px;
    top: 3%;
    right: 3%;
}
.more i.fa-lightbulb {
    text-align: center;
    font-size: 40px;
    animation: light 5s linear infinite;
}
@keyframes light {
    from {
        color: lightgoldenrodyellow;
    }
    to {
        color: #FFE707;
    }
}

/*  art1 - more - end  */
/*  article 1 - end */

/* article 2 */
#art2 { background-color: #fff; }
#art2 i {
    font-size: 2rem;
    cursor: pointer;
}
#art2 img.ajax {
    width: 35px;
    height: 35px;
}
#art2 img.jquery {
    width: 60px;
    height: 60px;
}
#art2 h4 {
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 1rem;
}
/* icon colors */
.fa-html5, .fa-css3-alt, .fa-js, .fa-git, .fa-bootstrap, .fa-react, .fa-wordpress, .fa-sass, .fa-gulp {
    transition: color 0.3s linear;
}

#art2 .fa-html5:hover { color: #e34f26; }
#art2 .fa-css3-alt:hover { color: #2E77BB; }
#art2 .fa-js:hover { color: #F0DB4f; }
#art2 .fa-git:hover { color: #f1502f; }
/* ajax */
/* jQuery  */
#art2 .fa-bootstrap:hover { color: #602c50;}
#art2 .fa-react:hover { color: #61dbfb; }
#art2 .fa-wordpress:hover {color: #00749C; }
#art2 .fa-sass:hover { color: #CD6799; }
#art2 .fa-gulp:hover { color: #DB4446; }
/* article 2 - end */
/* article 3 */
#art3 p, #art3 h5{
    color: #000;
}
/* article 3 - end */
/* article 4 */
#art4 {
    position: relative;
    height: 100vh;
    background-color: #000;
    color: #fff;
}
#art4 h4 {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    line-height: 80vh;
    padding-bottom: 10%;
}
#art4 span:hover { 
    color: #89FF0D;
    cursor: pointer;
}
#art4 .contact {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
#art4 .contact i {
    color: #BFBFBF;
    font-size: 3rem;
}
#art4 .contact i:hover {
    color: #fff;
}
/* article 4 - cooperation */
.cooperation {
    display: block;
    position: absolute;
    top: 15%;
    left: 50%;
    width: 50%;
    height: 80%;
    z-index: 1;
    transform: translateX(-50%);
    z-index: 1;
    background-image: url(../img/contact.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    font-size: 18px;
    line-height: 2;
    color: #000;
    opacity: 0.9;
}
.cooperation.form {
    display: none;
}
form {
    margin-top: 22%;
}
input[type = "mail"],input[type = "tel"] {
    display: inline-block;
    width: 40%;
    margin-right: 50px;
}
textarea, input[type="text"], input[type="submit"] {
    display: block;
}
input, textarea {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: transparent;
    color: #000;
    padding: 1px;
    margin-top: 5px;
    border: 0.5px solid black;
}
/* article 4 - cooperation - end */
/* article 4 - end */

/* footer */
footer {
    background-color: #000;
    padding: 0 20px 20px 20px;
}
footer h5 {
    color: #BAC8D9;
    text-align: right;
    font-size: 15px;
}
/* footer-end */

/* Large desktop */
@media (min-width: 1200px) {
    .burger {
        top: 34%;
        font-size: 30px;
    }
    nav {
        top: 34%;
        font-size: 20px;
    }

    header {
        background-position: top, left;
    }
    header h2 {
        font-size: 35px;
        letter-spacing: 5px;
    }
    header h1 {
        font-size: 65px;
        letter-spacing: 10px;
        padding-top: 54vh;
    }

    #art1 div.myPic {
        width: 260px;
        height: 260px;
    }
    #art1 p.text1 {
        margin: 5% 15% 6% 15%;
    }

    #art2 {
        height: 100vh;
    }
    #art2 i {
        font-size: 5rem;
    }
    #art2 h3 {
        padding-top: 5%;
        padding-bottom: 8%;
    }
    #art2 img.ajax {
        width: 70px;
        height: 70px;
    }
    #art2 img.jquery {
        width: 120px;
        height: 120px;
    }
    #art4 h4 {
        font-size: 35px;
        line-height: 65vh;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    header {
        background-position: -250px, top;
    }
};

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    
};

/* Landscape phones and down */
@media (max-width: 480px) {
    #art4 span {
        animation: click 3s 3s linear infinite; 
        cursor: pointer;
    }
    @keyframes click {
        for{
            color: #fff;
        }
        to {
            color: #89FF0D;
        }
    }
};

















